<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>grafico_turno</title>
</head>
<body>
    
    <footer class="text-muted py-5">
        <div class="container">
           <p class="float-end mb-1">
             <a href="{{ url_for('grafico_turno')}}">Voltar para o topo</a>
           </p>
          <p class="mb-1">Relatório pessoal &copy; Mateus Varelo</p>
         
        </div>
      </footer>
      
   <!--Get JS-->
         
   <script src="{{ url_for('static',filename = "js/bootstrap.bundle.min.js")}}" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"> </script>
   <!--Get AJAX-->
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

</body>
</html>